# Cleansing and Integrating Raw Data Task 2


Date: Sunday, 13 May 2018 

Environment: Python 3.6.4 and Anaconda3-5.1.0 (64-bit)

Libraries used:
* pandas 0.22.0 (for data frame, included in Anaconda Python 3.6) 


# Introduction
This assignment consists of following tasks:

1. Auditing and Cleansing the Job dataset,
2. Integrating the Job datasets,
3. Finding missing value and fill in the reasonable values,
4. Finding the outliers.

# Task2. Integrating the Job datasets

### 1. Import Libraries

In [ ]:
import pandas as pd

### 2. Read a dataset1

In [ ]:
data1 = pd.read_csv('dataset1_solution.csv')
data1 = data1.drop(columns = ['Unnamed: 0'])
data1.head()

### 3. Read a dataset2

In [ ]:
data2 = pd.read_csv("dataset2_integration.csv")
data2.head()

## Step 1: Resolving schema conflicts and merging data:

### 4. Finding schema conflicts and resolving them

### Contract Type

#### Displaying the unique values of Contract Type of data1

In [ ]:
data1['ContractType'].unique()

#### Displaying the unique values of Contract Type of data2

In [ ]:
data2['Contract Type'].unique()

#### Replacing values of Contract Type in data2 with the values in data1

In [ ]:
data2['Contract Type'] = data2['Contract Type'].replace({'ft':'full_time','n/a':'non-specified','pt':'part_time'})
data2['Contract Type'] = data2['Contract Type'].fillna('non-specified')
#data2.head()

### Contract Time

#### Displaying the unique values of Contract Time of data1

In [ ]:
data1['ContractTime'].unique()

#### Displaying the unique values of Contract Time of data2

In [ ]:
data2['Contract Time'].unique()

#### Replacing values of Contract Time in data2 with the values in data1

In [ ]:
data2['Contract Time'] = data2['Contract Time'].replace({'perm.':'permanent','n/a':'non-specified','contr.':'contract'})
data2['Contract Time'] = data2['Contract Time'].fillna('non-specified')
#data2.head()

### Open Date

#### Converting Open Date from standard format to the given string format in data1

In [ ]:
data2['OpenDate'] = data2['OpenDate'].str.slice(0,4) + data2['OpenDate'].str.slice(5,7) + data2['OpenDate'].str.slice(8,10) + 'T' + data2['OpenDate'].str.slice(11,13) + data2['OpenDate'].str.slice(14,16) + data2['OpenDate'].str.slice(17,19)

### Close Date

#### Converting Close Date from standard format to the given string format in data1

In [ ]:
data2['CloseDate'] = data2['CloseDate'].str.slice(0,4) + data2['CloseDate'].str.slice(5,7) + data2['CloseDate'].str.slice(8,10) + 'T' + data2['CloseDate'].str.slice(11,13) + data2['CloseDate'].str.slice(14,16) + data2['CloseDate'].str.slice(17,19)

### Salary

#### Changing Monthly salary to Annual Salary by multiplying it by 12 and renaming the column accordingly

In [ ]:
data2['Salary per month'] = data2['Salary per month']*12
data2 = data2.rename(columns = {'Salary per month':'Salary per annum'})

### Category

#### Displaying the unique values of Category of data1

In [ ]:
data1['Category'].unique()

#### Displaying the unique values of Category of data2

In [ ]:
data2['Category'].unique()

#### Comparing and replacing value of Category in data2 with the value in data1

In [ ]:
data2['Category'] = data2['Category'].replace({'Finance & Accounting Jobs':'Accounting & Finance Jobs'})

### Title

In [ ]:
# Remove leading and trailing spaces
data2['Title'] = data2['Title'].str.strip()
# Remove special characters at the start
data2['Title'] = data2['Title'].str.lstrip('.,;-:')
# Remove special characters at the end
data2['Title'] = data2['Title'].str.rstrip(',;-:')
# Again remove leading and trailing spaces
data2['Title'] = data2['Title'].str.strip()

### Company

In [ ]:
data2['Company'].value_counts().sort_index().head()

In [ ]:
# Convert Company to upper case
data2['Company'] = data2['Company'].str.upper()
# Replace double spaces from a single space
data2['Company'] = data2['Company'].str.replace('  ',' ')
# Again replace double spaces from a single space
data2['Company'] = data2['Company'].str.replace('  ',' ')
# Remove leading and trailing spaces
data2['Company'] = data2['Company'].str.strip()
# Remove special characters at the start
data2['Company'] = data2['Company'].str.lstrip('.,;-:')
# Remove special characters at the end
data2['Company'] = data2['Company'].str.rstrip(',;-:')
# Replace LIMITED with LTD
data2['Company'] = data2['Company'].str.replace('LIMITED','LTD')
# Replace LTD. with LTD
data2['Company'] = data2['Company'].str.replace('LTD.','LTD')

In [ ]:
data2['Company'].value_counts().sort_index().head()

### 5. Making Column Names of data2 same as that of data1

In [ ]:
data2 = data2.rename(columns = {'Source Name':'SourceName','location':'Location','Contract Type':'ContractType','Contract Time':'ContractTime'})

In [ ]:
# Reordering the columns
data2 = data2[['Id','Title','Location','ContractType','ContractTime','Company','Category','Salary per annum','SourceName','OpenDate','CloseDate']]

### 6. Integration of data1 and data2

###### Concatenating two dataframes data1 and data2

In [ ]:
data1_data2 = pd.concat([data1,data2],axis=0)
data1_data2.head()

## Step 2: Resolving data conflicts:

###### Dropping Duplicate rows considering Title, Location, Company, OpenDate as a Global Key

In [ ]:
dataset1_dataset2 = data1_data2.drop_duplicates(subset = ['Title', 'Location', 'Company', 'OpenDate'], keep = 'first')

In [ ]:
dataset1_dataset2.head()

### Global Key
- Global key is taken as Title, location, company and open date because it completely describes the record which fulfills the requiremnet of the global key.

## 7. Converting dataframe into CSV file format

In [ ]:
dataset1_dataset2.to_csv('./dataset1_dataset2_solution.csv',encoding='utf-8')

## References
- Tutorials